#Strinova-Header{
    color: white;
    text-decoration: none;
    font-size: 70px;
}
#rest{
    color: gray;
    text-decoration: none;
    font-size: 30px;
    left: 100px;
}
#rest:hover{
    color: white;
}
.square{
    height: 120px;
    width: 100%;
    background-color: #1A1B20;
}
.Agents{
    position: absolute;
    left: 350;
    top: 140px;
}
.Strinova{
    position: absolute;
    top: 110px;
}
.Maps{
    position: absolute;
    top: 140px;
    left: 550;
}
.Mechanics{
    position: absolute;
    top: 140;
    left: 750;
}