h3 {
    margin-top: 0;
}

body {
    overflow: hidden;
}


.agent {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-inline: 9rem;
    background-image: url(/public/bg/Strinova\ Background.jpg);
}

.agent-image {
    position: relative;
    bottom: 40px;
    right: 160px;
    width: 550px;
}

.agent-symbol {
    position: absolute;
    left: 0;
}

.main-stuff {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    left: -150px;
    width: 55rem
}

.title {
    color: rgb(0, 0, 0);
    font-size: 2.75rem;
    border-bottom: rgb(91, 153, 182) solid;
    margin-right: 500px;
    margin-bottom: 0;
}
.skill-name {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-bottom: rgb(91, 153, 182) solid;
    margin-right: 500px;
    margin-bottom: 0;
}

.subtitles,
.skill-title {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    position: relative;
    top: -50px;
    left: -10px;
}

.skill-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill-images img { 
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    position: relative;
    top: -60px;
}

.skill-images img:hover,
.skill-images img.active {
    transform: scale(1.05);
}

.subtitles p,
.skill-title p {
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.subtitles p {
    padding: 0.5rem;
    font-size: 1.6rem;
}

.skill-title p {
    padding: 0.4rem;
    font-size: 1.25rem;
}


.subtitles p :hover,
.subtitles p.active,
.skill-title p :hover,
.skill-title p.active {
    color:rgb(91, 153, 182);
    cursor: pointer;

}

.skills>* {
    padding-bottom: 1rem;
}
.agent-image-container {
    border-right: black solid 20px; 
    width: 380px;
}

.emoji {
    width: 85px;
    position: absolute;
    left: 290px;
    transform: rotate(15deg);
}

#upgrades img {
    width: 270px;
}

#upgrade{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#weapons img{
    width: 500px;
}
#about, #details, #upgrades, #weapons, #video{
    position: relative;
    top: -80px;
}

.skill-title p :hover, .subtitles  :hover {
    color:rgb(179, 107, 173);
}