.title {
    color: rgb(148, 148, 148);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: rgb(134, 133, 133) solid;
    width: fit-content;
    position: relative;
    top: 50px;
}

.titles h1 {
    margin: 0;
}

.subtitles {
    display: flex;
    flex: row;
    gap: 5rem;
    font-size: 1.6rem;
    color: #939397;
    font-weight: 1000;
}